{% extends 'base/base.html' %}
{% load static%}

{% block content %}
<form action="{% url 'relatorio:venue_csv' %}" method="get">
    <input type="text" name="mes" id="" value="{{request.GET.mes}}" class="p-1 border" placeholder="Mes do relatorio">
    <a>                                 
        <button class="btn btn-primary" data-toggle="modal" data-target="#excluiAluno"
                style="padding: 10px 17px;"> 
            <i>Gerar Relatorio</i>
        </button>
    </a>
</form>
{% endblock content %}