{% extends 'base/base.html' %}
{% load static %}

{% block title %}Página principal{% endblock title %}

{% block breadcrumb %}

    <div>
        <h1><i class="fa fa-home fa-lg"></i></i> Página Principal</h1>
    </div>

    </ul>
{% endblock breadcrumb %}
{% block nome%}
<p class="app-sidebar__user-designation">{{nome.nome}}</p>

{% endblock nome%}
{% block content %}
<div class="row d-inline">
    <div class="btn">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-files-o fa-3x"></i>
            <div class="info">
                <h4>Total de Relátorios</h4>
                <p><b>{{ relatorios }}</b></p>
            </div>
        </div>
    </div>
    
    <a href="{% url 'relatorio:relatorios' %}" class="btn col-md-4" style="">
    <div class="">
        <div class="widget-small info coloured-icon">
            <i class="icon fa fa-list fa-3x"></i>
            <div class="info">
                <h4>Lista de Relátorios</h4>
                
            </div>
        </div>
    </div>
        </a>
        <a href="{% url 'relatorio:relatorio' %}" class="btn col-md-4" style="">
            <div class="">
                <div class="widget-small info coloured-icon">
                    <i class="icon fa fa-clipboard fa-3x " ></i>
                    <div class="info">
                        <h4>Criar relátorios</h4>
                        
                    </div>
                </div>
            </div>
                </a>
                
    <!--<a href="#" class="btn" style="">
    <div class="">
        <div class="widget-small warning coloured-icon">
            <i class="icon fa fa-thumbs-o-up fa-3x"></i>
            <div class="info">
                <h4>Total Participantes</h4>
                <p><b>10</b></p>
            </div>
        </div>
    </div>
    </a>
    -->
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 261.641px;">Vendedor</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 417.312px;">Codigo do Cliente</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 189.281px;">Frequência</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 189.281px;">Mês</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 102.141px;">Tempo de criação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in rela %}
                                        <tr role="row">
                                            <td> {{ item.usuario.codigo}} </td>
                                            <td> {{ item.codigo_cliente}} </td>
                                            <td> {{ item.frequencia }}</td>
                                            <td> {{ item.mes }}</td>
                                            <td> {{ item.data_criacao }} </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
{% endblock extrascripts %}
